@model List<Presenca>
<!DOCTYPE html>

<html>
<head>
    <title>Gerenciamento de presença</title>
</head>
<body>
    <h2>Gerenciamento de presença</h2>

    <a asp-action="ListaRealizar" asp-controller="Presenca"
       class="btn btn-primary espacamento-baixo">Lista a preencher</a>

    <table class="table table-hover table-striped espacamento-baixo">
        <thead>
            <tr>
                <th>Id</th>
                <th>Turma</th>
                <th>Grade</th>
                <th>Presente</th>
                <th>Data marcação</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Presenca presencaCadastrado in Model)
            {
                <tr>
                    <td>@presencaCadastrado.Id</td>
                    <td>@presencaCadastrado.ConjuntoAluno.Turma</td>
                    <td>@presencaCadastrado.Grade</td>
                    <td>@presencaCadastrado.Presente</td>
                    <td>@presencaCadastrado.CriadoEm.ToString(@*"dd/MM/yyyy hh:mm:ss"*@)</td>
                    <td>
                        <a asp-action="Remover"
                           asp-controller="Presenca"
                           asp-route-id="@presencaCadastrado.Id"
                           class="btn btn-danger">Remover</a>
                    </td>
                    <td>
                        <a asp-action="Alterar"
                           asp-controller="Presenca"
                           asp-route-id="@presencaCadastrado.Id"
                           class="btn btn-warning">Alterar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <span><b>Quantidade de regitros: </b> @Model.Count </span><br />
    <span><b>Dados atualizados: </b> @DateTime.Now </span>

</body>
</html>