@model List<Nivel>
<!DOCTYPE html>

<html>
<head>
    <title>Gerenciamento de niveis</title>
</head>
<body>
    <h2>Gerenciamento de niveis</h2>
    <a asp-action="Cadastrar" asp-controller="Nivel"
       class="btn btn-primary espacamento-baixo">Cadastrar</a>
    <table class="table table-hover table-striped espacamento-baixo">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ordenação</th>
                <th>Criado em</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Nivel nivelCadastrado in Model)
            {
                <tr>
                    <td>@nivelCadastrado.Id</td>
                    <td>@nivelCadastrado.Nome</td>
                    <td>@nivelCadastrado.Ordenacao</td>
                    <td>@nivelCadastrado.CriadoEm.ToString(@*"dd/MM/yyyy hh:mm:ss"*@)</td>
                    <td>
                        <a asp-action="Remover"
                           asp-controller="Nivel"
                           asp-route-id="@nivelCadastrado.Id"
                           class="btn btn-danger">Remover</a>
                    </td>
                    <td>
                        <a asp-action="Alterar"
                           asp-controller="Nivel"
                           asp-route-id="@nivelCadastrado.Id"
                           class="btn btn-warning">Alterar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <span><b>Quantidade de niveis: </b> @Model.Count </span><br />
    <span><b>Dados atualizados: </b> @DateTime.Now </span>

</body>
</html>