@model List<Mentor>
<!DOCTYPE html>

<html>
<head>
    <title>Gerenciamento de mentores</title>
</head>
<body>
    <h2>Gerenciamento de mentores</h2>
    <a asp-action="Cadastrar" asp-controller="Mentor"
       class="btn btn-primary espacamento-baixo">Cadastrar</a>
    <table class="table table-hover table-striped espacamento-baixo">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Criado em</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Mentor mentorCadastrado in Model)
            {
            <tr>
                <td>@mentorCadastrado.Id</td>
                <td>@mentorCadastrado.Nome</td>
                <td>@mentorCadastrado.Cpf</td>
                <td>@mentorCadastrado.CriadoEm.ToString(@*"dd/MM/yyyy hh:mm:ss"*@)</td>
                <td>
                    <a asp-action="Remover"
                       asp-controller="Mentor"
                       asp-route-id="@mentorCadastrado.Id"
                       class="btn btn-danger">Remover</a>
                </td>
                <td>
                    <a asp-action="Alterar"
                       asp-controller="Mentor"
                       asp-route-id="@mentorCadastrado.Id"
                       class="btn btn-warning">Alterar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <span><b>Quantidade de mentores: </b> @Model.Count </span><br />
    <span><b>Dados atualizados: </b> @DateTime.Now </span>

</body>
</html>