@model List<Turma>
<!DOCTYPE html>

<html>
<head>
    <title>Selecione a turma:</title>
</head>
<body>
    <h2>Selecione a turma:</h2>

    <table class="table table-hover table-striped espacamento-baixo">
        <thead>
            <tr>
                <th>Nivel</th>
                <th>Ano</th>
                <th>Criado em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Turma turmaCadastrada in Model)
            {
                <tr>
                    <td>@turmaCadastrada.Nivel</td>
                    <td>@turmaCadastrada.Ano</td>
                    <td>@turmaCadastrada.CriadoEm.ToString(@*"dd/MM/yyyy hh:mm:ss"*@)</td>
                    <td>
                        <a asp-action="BatePapo"
                           asp-controller="Chat"
                           asp-route-id="@turmaCadastrada.Id"
                           class="btn btn-danger">Ir para o chat:</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <span><b>Quantidade de regitros: </b> @Model.Count </span><br />
    <span><b>Dados atualizados: </b> @DateTime.Now </span>

</body>
</html>